/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */
.x-mask.splashscreen {
	background-color: white;
	opacity: 1;
}
.x-mask-msg.splashscreen{
	border: none;
	background-position: center;
	background-color: transparent;
}
.x-mask-msg.splashscreen div {
	font-size: 16px;
	font-weight: bold;
	color: #317040;
	padding: 40px 200px 5px 200px;
	border: none;
	background-color: transparent;
	background-position: center;
}
.x-message-box .x-window-body .x-box-inner {
	min-height: 110px !important;

}
.x-splash-icon {
	background-image: url('../../resources/images/logo.png') !important;
	background-size: 100%;
	background-repeat: no-repeat;

	margin-top: -150px;
	height: 250px;
}
$enable-font-awesome: dynamic(true);
